body {
    background-image: url("img/splash-xl.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0.5rem;
    color: white;
}

#social-links a {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    padding-right: 0.5em;

}

#hamburger-menu a {
    display: none;
}

main {
    text-align: center;
    font-family: 'Kaushan Script', 'fantasy';
    margin-top: 23vh;
    text-shadow: 1px 1px #153c43;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
    margin-top: 2em;
}

footer {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 1200px) {
    body {
        background-image: url("img/splash-lg.jpg");
    }
}

@media only screen and (max-width: 992px) {
    body {
        background-image: url("img/splash-md.jpg");
    }

    #social-links a {
        font-size: 2.5rem;

    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {

    body {
        background-color: #93b8d7;
        background-image: none;
    }

    #social-links a {
        font-size: 2.5rem;
    }

    main {
        text-shadow: none;
    }

    footer {
        display: none;
    }
}

@media only screen and (max-width: 598px) {

    #hamburger-menu a {
        color: white;
        font-size: 2.5rem;
        display: block;
    }

    #social-links a {
        display: none;
    }
}
